.logo {
    padding: 30px 40px;
  }

.contain {
    width: 25%;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 3rem;
    color: #05668D;
    text-align: center;
    margin: 60px 0 20px 0;
}

.action {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 8px 10px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #05668D;
}
